@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poppy: #d64045ff;
  --poppy-dark: #ca2b30;
  --mint-green: #e9fff9ff;
  /* --non-photo-blue: #9ed8dbff; */
  --non-photo-blue: #67d1d6;
  --ucla-blue: #467599ff;
  --delft-blue: #1d3354ff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Parkinsans", serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
